data
bin
results
logs
dockerImages
docker_tmp
tmp*
.vscode
.snakemake
toil*
node-*
nohup.out*
*.log
*.out
*.sif
screenlog*
cromwell-executions
Rplot*
build/
_targets/
_targets_r/
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/figures
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
analysis/res
docs/
output/
upload/
*.e*
*.o*
secrets