data
bin
results
logs
dockerImages
docker_tmp
tmp*
.vscode
toil*
node-*
nohup.out*
*.log
*.out
*.sif
screenlog*
cromwell-executions
Rplot*
build/
_targets/
_targets_r/
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
docs/
output/